<div class="cntr">

	<h1>Score: {{ score }}<small class="pull-right">Tries: {{ tries }}</small></h1>
	<hr>
	
	<div class="row">
		<div class="col-md-3" ng-repeat="card in deck.cards">
			<div class="card_container {{!card.isFaceUp ? '' : 'flip'}} {{ !card.isHide ? '' : 'hide' }}" ng-click="isGuarding || check(card)">
				<div class="card shadow">
					<div class="front face"></div>
					<div class="back face text-center pagination-center">
						<p> {{ card.letter }} </p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr>

	<!-- Control buttons -->
	<div class="control-block">
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-default btn-block center-block" ng-click="reMatch()">Reset game</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-default btn-block center-block" ng-click="showSettings()">Settings</button>	
			</div>
		</div>	
	</div>

</div>